.badge-alarm {
    border: 1px solid #6c757d;
    width: 100%;
    text-align: left;
    border-radius: 0;
    padding: 10px;
}

.searching {
    background-color: rgb(224, 224, 224);
    padding: 30px 25px 10px 25px;
    margin: 25px 0;
}

.bi-search::before {
    content: "\f502";
    margin: 10px 20px 0 0;
}