

.bg-light {
    background-color: #ffffff !important;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.data-collapse {
    margin: 15px 0;
}

.btn-dropdown {
    background-color: #3d3d3d;
    border: 1px solid #3d3d3d;
    color: #fff;
    width: 50%;
    text-align: left;
}

.btn-dropdown:hover {
    background-color: #3d3d3d;
    border: 1px solid #3d3d3d;
    color: #fff;
}

.btn-check:focus+.btn-dropdown, .btn-dropdown:focus {
    color: #fff;
    background-color: #3d3d3d;
    border-color: #3d3d3d;
    box-shadow: 0 0 0 0.25rem rgba(34, 34, 34, 0.5);
}

.add-user {
    background-color: rgb(224, 224, 224);
    padding: 30px 25px 10px 25px;
    margin: 25px 0;
}

.badge-add {
    border: 1px solid #6c757d;
    width: 25%;
    text-align: left;
    border-radius: 0;
    padding: 10px;
    margin-bottom: 10px;
}

/* .bi-person-plus::before {
    content: "\f4b6";
    margin: 10px 15px 0 5px;
    font-size: 20px;
} */

.badge-status {
    border: 1px solid #6c757d;
    width: 25%;
    text-align: left;
    border-radius: 0;
    padding: 10px;
}

.badge-top {
    border: 1px solid #6c757d;
    width: 100%;
    text-align: left;
    border-radius: 0;
    padding: 10px;
}

@media (max-width: 768px) {
    .navbar-nav {
        display: block;
        text-align: left;
    }
    
    .navbar-nav > li {
        display: block;
    }
}